div.form input,div.form textarea,div.form select{margin:.2em 0 .5em}
div.form fieldset{border:1px solid #DDD;-moz-border-radius:7px;margin:0 0 10px;padding:10px}
div.form label{font-weight:700;font-size:.9em;display:block}
div.form .row{margin:5px 0}
div.form .hint{color:#999;margin:0;padding:0}
div.form .note{font-style:italic}
div.form span.required{color:red}
div.form div.error label:first-child,div.form label.error,div.form span.error{color:#C00}
div.form div.error input,div.form div.error textarea,div.form div.error select,div.form input.error,div.form textarea.error,div.form select.error{background:#FEE;border-color:#C00}
div.form div.success input,div.form div.success textarea,div.form div.success select,div.form input.success,div.form textarea.success,div.form select.success{background:#E6EFC2;border-color:#C6D880}
div.form .errorSummary{border:2px solid #C00;background:#FEE;font-size:.9em;margin:0 0 20px;padding:7px 7px 12px}
div.form .errorMessage{color:red;font-size:.9em}
div.form .errorSummary p{margin:0;padding:5px}
div.form .errorSummary ul{margin:0;padding:0 0 0 20px}
div.wide.form label{float:left;margin-right:10px;position:relative;text-align:right;width:100px}
div.wide.form .row{clear:left}
div.wide.form .buttons,div.wide.form .hint,div.wide.form .errorMessage{clear:left;padding-left:110px}